html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
position:absolute;
bottom:0;
height:60px;
width:100%;
background-color:#f5f5f5;  
padding:20px;
}

a{
color:black;
}

a:hover{
text-decoration-line:none;
}

h3{
text-align:center;
}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: dimgray;    
}

h6{
padding:10px;
}

#cat_hubs{
width:100%;
padding:50px;
margin: 50px auto;
background-color:#ebf5f7;
}


.btn-group{
width:30%;
float:center;
}

#sign{
background-color: darkseagreen;
}

.log{
background-color: lightblue;
}

.logger{
margin-top:20px;
padding:8px;
width:25%;
}

#mod{
background-color:gainsboro;
}

.category{
width:25%;
height:100px;
text-align:center;
padding:20%;
padding-bottom:25%;
border-radius:5%;
}

.category img {
float:center;
padding-bottom:8px;
}

.category a{
color:black;
}

.category a:hover{
color:goldenrod;
}

.section{
background-color:#f7f9fa;
padding:5%;
}

#learnmore{
background-color:gainsboro;
}

