/*SITE_WIDE*/

html {
    
    position: relative;
    min-height: 100%;
}

body {
    
    margin-bottom: 60px;
    /* Margin bottom by footer height */
    font-family:"Georgia", "Palatino Linotype", "Book Antiqua", "Palatino", serif;
    font-family: "Montserrat", sans-serif !important;
    
}

.navbar {
    
    background-color:#fff !important;
}


a.nav-link{
    
    font-size:18px;
}

a.nav-link:hover {
    
    color:goldenrod !important;
}

.gBrand {
    
    font-family: 'Handlee', cursive !important;
    font-weight:600 !important;
    font-size:24px !important;
    color:grey !important;
    
}

.gBrand:hover{
    color:#7bc5e3 !important;
}

#handR { 
    color:#85b9ca;
    font-family: 'Handlee', cursive !important;
    font-weight:600;
}

table {
    margin: auto;
    width: 70%;
}

.footer {

    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color:#efefef;
    padding: 20px;
}

a {
    color: black;
}

a:hover {
    text-decoration-line: none;
}

h3 {
    text-align: center;
}

.carousel-indicators li {
    
    position: relative; 
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 12px;
    height: 12px;
    margin-top:30px !important;
    margin-right: 5px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: dimgray;
    border-radius:50%;
}

.carapic {
    
     height: 500px !important;
}

.hero {
    
    height:350px !important;
}

/*MAIN PAGE*/

#fmain_body{
    
    background-color: #f5f5f5;
}

h6 {
    padding: 10px;
}

.section{
    margin: 5px auto;
    background-color: #efefef;
    padding:2% !important;
}

#welcome {
    
    margin: 0px auto;
    padding-top:40px !important
    
}

.greeting {
    
    font-size:20px; 
    line-height:1.8;
    color:#585c5f;
}

#g1 {
    
    font-size:24px;
    font-weight:500;
}

#g3 {
    
    font-size: 28px;
    font-weight: 500;
    padding-bottom:20px;
}

.btn-group {
    
    width: 30%;
    float: center;
    margin-top:20px;
    margin-bottom:18px;
}

#signN{
    
    background-color:#61cfc4;
}

#signN:hover{
    
    background-color:#25c4b4;
}
#logN{
    
    background-color:lightblue;
    
}

#logN:hover{
    
    background-color:#79cfe0;
}

#cats_head {
    
    color:midnightblue;
    font-family: 'Handlee', cursive !important;
    font-weight:600;
}


#sign {
    
    background-color: darkseagreen;
}

.log {
    
    background-color: lightblue;
}

.logger {

    margin-top: 20px;
    padding: 8px;
    width: 25%;
}

#mod {

    background-color: gainsboro;
}

#cat_hubs, #weeklynews {

    width: 100%;
    padding: 50px;
    margin: 40px auto;
    margin-bottom:100px !important;
    background-color: #fafafa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.category {

    margin: 0px !important;
    min-height: 200px;
    text-align: center;
    border-radius: 5%;
    padding:20px !important;
    padding-bottom:40px !important;
}

.category img {
    
    float: center;
    max-height: 250px;
}

#podpeople{
    margin-top:60px !important;
    margin-bottom:12px !important;
}

.category a {
    
    color:darkslateblue;
    transition:.2s;
}

.category a:hover {
    
      color: goldenrod;
      -ms-transform: scale(1.1); 
      -webkit-transform: scale(1.1); 
      transform: scale(1.1); 
}

.nav-item a:hover{
    
    color: goldenrod;
}

.cat {
    
    font-family: 'Handlee', cursive !important;
    font-size:18px;
    font-weight:600;
}


#p1 {
    
    font-family: 'Handlee', cursive !important;
    font-weight:600;
    font-size:22px;
    color:dimgray;
}

#p2 {
    
   justify-content: space-around; 
   padding-left:9%;
   padding-right:9%;
   font-size:18px;
   line-height:1.6;
   letter-spacing:1px;
   color:dimgrey;
    
}

#homelink {
    font-family: 'Handlee', cursive !important;
    font-weight:500;
}

#homelink:hover {
    
   color: goldenrod;
}


/*SIGN UP PAGE*/

.signUpLeft {

    margin-top: 10px;
    margin-bottom: 1px;
    margin-left: 20%;
    margin-right: 10%;
    width: 70%;
    text-align: center;
    border-style: 1px solid;
    background-color: #B9B8B5;
}

.signUpRight {

    margin-top: 10px;
    margin-bottom: 1px;
    margin-left: 10%;
    margin-right: 20%;
    width: 70%;
    text-align: center;
    border-style: 1px solid;
    background-color: #B9B8B5;
}

.dataEntryLeft {

    border-style: 1px solid;
    width: 70%;
    margin-top: 1px;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 10%;
}

.dataEntryRight {

    border-style: 1px solid;
    width: 70%;
    margin-top: 1px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 20%;
}

.sexSignUp {

    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 59%;
    margin-right: 0%;
    width: 53%;
    text-align: center;
    border-style: 1px solid;
    background-color: #B9B8B5;
}

.DoBSignUp {

    margin-top: 10px;
    margin-bottom: 1px;
    margin-left: 19%;
    margin-right: -70%;
    width: 42%;
    text-align: center;
    border-style: 1px solid;
    background-color: #B9B8B5;
}

.passwordSignUp {

    margin-top: 10px;
    margin-bottom: 1px;
    margin-left: -26%;
    margin-right: 50%;
    width: 98%;
    text-align: center;
    border-style: 1px solid;
    background-color: #B9B8B5;
}

.passwordSignUp2 {

    margin-top: 10px;
    margin-bottom: 1px;
    margin-left: 53.5%;
    margin-right: -30%;
    width: 24.5%;
    text-align: center;
    border-style: 1px solid;
    background-color: #B9B8B5;
}

.sexEntry {

    margin-top: 0px;
    margin-bottom: 1px;
    margin-left: 52%;
    margin-right: 0%;
    width: 43%;
    border-style: 1px solid;
}

.DoBEntry {

    margin-top: 0px;
    margin-bottom: 1px;
    margin-left: 21%;
    margin-right: 70%;
    width: 64%;
    border-style: 1px solid;
}

.passwordEntry {

    margin-top: 10px;
    margin-bottom: 1px;
    margin-left: 9%;
    margin-right: 50%;
    width: 71%;
    text-align: center;
    border-style: 1px solid;
}

.passwordEntry2 {

    margin-top: 10px;
    margin-bottom: 1px;
    margin-left: 53.5%;
    margin-right: -30%;
    width: 24.5%;
    text-align: center;
    border-style: 1px solid;
}

.thumbnail {

    margin-left: 19%;
    border-style: solid;
    border-width: 0.5px;
}

.imgButton1 {

    margin-top: -10px;
    margin-left: -100%;
    width: 71%;

}

.imgButton2 {
    
    margin-left: -115%;
    margin-top: 10px;
    margin-right: 0px;
    width: 84%
}

.imgButton3 {

    margin-top: 10px;
    margin-left: 0px;
    width: 84%
}


/*WELLSPACE PAGE*/

.every_other {
    
    background-color: #f0f2f2;
}

p.card_para {
    
    margin-top: 33px !important;
    margin-bottom: 29px !important;
}

.anchor_list {
    
    margin-bottom: 20px;
}

* {
    
    font-family: 'Open Sans';
    box-sizing: border-box;
}

/*HUB PAGES*/

/*placard overlay*/

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color:lightblue;
}

.overlay:hover {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*end of image overlay*/

.card {
    
    margin-top: 25px;
    margin-bottom:35px;
}


.bCard {
    
    height: 375px !important;
}

.placBody {
    
    padding: 0px !important;
}

.bForm {
    
    height: 100%;
    width: 100%;
    padding-left: 0px !important;
}

.btn_R {
    
    background-color: #f5f5f5;
    height: 100%;
    width: 100%;
    border-radius: 0rem !important;
}

.btn_R:hover {
    
    background-color: darkseagreen;
}

#hubBox{
    
}

/*PLACARD PAGES*/

h3 {
    
    margin-bottom: 40px;
}

.pHeight{
    
    max-height:500px !important;    

}

.genre {
    
    border:1px solid lightgrey;
    width:380px;
}

.full_feature {
    
    background-color: #f5f5f5;
    max-height: 520px;
    margin-bottom: 20px;
}

.pFeature{
height:341px !important;
}

.full_thing {
    
    padding: 10px;
    padding-right:14px;
    border: 1px solid lightgray; 
}

#podRow{
max-height:385px !important;
}

.full_describe {
    
    padding: 20px;
}

.button_row {
    
    margin-left: 5px;
}

.view_button {
    
    background-color: darkseagreen;
}

.comm_button {
    
    background-color: #ffd54d;
}

.view_button:hover,
.comm_button:hover {
    
    background-color: lightblue;
}

.embed_Div,
.book_board {
    
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    align-content: center;
}


/*MESSAGE BOARD*/

.chatContainer {
    
    width: 400px;
    height: 500px;
    border: 2px solid #ddd;
}

.chatContainer > .chatHeader {
    
    width: 100%;
    background: white;
    padding: 5px;
    border-bottom: 1px solid #ddd;

}

.chatContainer > .chatHeader h3 {
    
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #333;
}

.chatContainer > .chatMessages {
    
    height: 420px;
    border-bottom: 1px solid #dddd;
    overflow-y: scroll;
}

.chatContainer > .chatBottom form input[type="submit"] {
    
    padding: 6px;
    background: white;
    border: 1px solid #ddd;
    cursor: pointer;

}

.chatContainer > .chatBottom form input[type="text"] {

    width: 85%;
    padding: 3px;
    padding-left: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px;
    height: 30px;
}

.cm {
    
    list-style: none;
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

.profileB {
    
    background-color:#efefef;
}

#blurb_section {
    
    min-height:500px !important;
}

#edit_prof {
    
    width:100%;
    background-color:cadetblue;
}